@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.isdark *));

:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Brand Colors */
  --color-nightly: oklch(29.2% 0.054116 245.9);
  --color-daily: oklch(67.2% 0.111772 193.3);
  --color-master: oklch(63.8% 0.191358 16.4);
  --color-insight: oklch(50.9% 0.07042 236.4);

  /* Finger Print Colors */
  --color-digit-eight: oklch(89% 0.18 99);
  --color-digit-seven: oklch(67.2% 0.111772 193.3);
  --color-digit-six: oklch(36.2% 0.086183 251.5);
  --color-digit-five: oklch(53% 0.122 310);
  --color-digit-four: oklch(70% 0.078 314);
  --color-digit-three: oklch(63.8% 0.191358 16.4);
  --color-digit-two: oklch(67% 0.176 45);
  --color-digit-one: oklch(89% 0.18 99);

  /* Archangel Colors */
  --color-archangel-ariel-base: oklch(81.4% 0.07697 356.9);
  --color-archangel-ariel-overlay: oklch(81.4% 0.07697 356.9);
  --color-archangel-azrael-base: oklch(75% 0.04 350);
  --color-archangel-azrael-overlay: oklch(75% 0.04 350);
  --color-archangel-chamuel-base: oklch(88% 0.08 175);
  --color-archangel-chamuel-overlay: oklch(88% 0.08 175);
  --color-archangel-gabriel-base: oklch(92% 0.15 95);
  --color-archangel-gabriel-overlay: oklch(92% 0.15 95);
  --color-archangel-haniel-base: oklch(88% 0.04 235);
  --color-archangel-haniel-overlay: oklch(88% 0.04 235);
  --color-archangel-jeremiel-base: oklch(45% 0.12 320);
  --color-archangel-jeremiel-overlay: oklch(45% 0.12 320);
  --color-archangel-jophiel-base: oklch(78% 0.09 15);
  --color-archangel-jophiel-overlay: oklch(78% 0.09 15);
  --color-archangel-metatron-base: oklch(82% 0.06 340);
  --color-archangel-metatron-overlay: oklch(82% 0.06 150);
  --color-archangel-michael-base: oklch(40% 0.15 270);
  --color-archangel-michael-overlay: oklch(40% 0.15 270);
  --color-archangel-raphael-base: oklch(55% 0.12 150);
  --color-archangel-raphael-overlay: oklch(55% 0.12 150);
  --color-archangel-raquel-base: oklch(70% 0.1 210);
  --color-archangel-raquel-overlay: oklch(70% 0.1 210);
  --color-archangel-raziel-base: oklch(76.5% 0.125534 311.5);
  --color-archangel-raziel-ring-one: oklch(76.5% 0.125534 311.5);
  --color-archangel-raziel-ring-two: oklch(66.4% 0.110745 275.9);
  --color-archangel-raziel-ring-three: oklch(73.7% 0.073905 245.8);
  --color-archangel-raziel-ring-four: oklch(84.4% 0.110448 140.2);
  --color-archangel-raziel-ring-five: oklch(92.5% 0.123352 95.7);
  --color-archangel-raziel-ring-six: oklch(87.1% 0.104338 72.7);
  --color-archangel-raziel-ring-seven: oklch(74.8% 0.140527 11.7);
  --color-archangel-raziel-ring-eight: oklch(62.7% 0.227454 12.1);
  --color-archangel-raziel-overlay: oklch(100% 0.00011 271.152);
  --color-archangel-sandolphon-base: oklch(80% 0.1 195);
  --color-archangel-sandolphon-overlay: oklch(80% 0.1 195);
  --color-archangel-uriel-base: oklch(90% 0.05 85);
  --color-archangel-uriel-overlay: oklch(90% 0.05 85);
  --color-archangel-zadkiel-base: oklch(45% 0.18 260);
  --color-archangel-zadkiel-overlay: oklch(45% 0.18 260);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.light {
  color-scheme: light;
  --background: oklch(97.858% 0.01105 243.923);
  --background-alt: oklch(86.371% 0.03035 243.556);
  --foreground: oklch(29.179% 0.05415 245.963);
  --foreground-alt: oklch(22.378% 0.04011 246.307);
  --card: oklch(0.99 0.008 308);
  --card-foreground: oklch(0.145 0.0487 266.445);
  --popover: oklch(0.99 0.008 308);
  --popover-foreground: oklch(0.145 0.0487 266.445);
  --primary: oklch(50.72% 0.07207 238.739);
  --primary-foreground: oklch(92.933% 0.036 236.588);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(96.752% 0.04778 196.517);
  --muted: oklab(69% -0 -0);
  --muted-foreground: oklab(82% 0 0);
  --accent: oklch(0.64 0.2 16.5);
  --accent-foreground: oklch(0.86 0.07823 8.849);
  --destructive: oklch(0.58 0.2 18);
  --destructive-foreground: oklch(0.892 0.05856 7.675);
  --border: oklch(0.91 0.01569 257.298);
  --input: oklch(0.91 0.01569 257.298);
  --ring: oklch(0.704 0.04 256.788);

}

.dark {
  color-scheme: dark;
  --background: oklch(0.145 0 0);
  --background-alt: oklch(22.4% 0.0401 246.3);
  --foreground: oklch(0.985 0 0);
  --foreground-alt: oklch(92.933% 0.036 236.588);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.892 0.05856 7.675);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {

  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-foreground: var(--foreground);
  --color-foreground-alt: var(--foreground-alt);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-nightly: var(--color-nightly);
  --color-daily: var(--color-daily);
  --color-master: var(--color-master);
  --color-insight: var(--color-insight);

  --color-digit-eight: var(--color-digit-eight);
  --color-digit-seven: var(--color-digit-seven);
  --color-digit-six: var(--color-digit-six);
  --color-digit-five: var(--color-digit-five);
  --color-digit-four: var(--color-digit-four);
  --color-digit-three: var(--color-digit-three);
  --color-digit-two: var(--color-digit-two);
  --color-digit-one: var(--color-digit-one);

  --color-archangel-ariel-base: var(--color-archangel-ariel-base);
  --color-archangel-ariel-overlay: var(--color-archangel-ariel-overlay);
  --color-archangel-azrael-base: var(--color-archangel-azrael-base);
  --color-archangel-azrael-overlay: var(--color-archangel-azrael-overlay);
  --color-archangel-chamuel-base: var(--color-archangel-chamuel-base);
  --color-archangel-chamuel-overlay: var(--color-archangel-chamuel-overlay);
  --color-archangel-gabriel-base: var(--color-archangel-gabriel-base);
  --color-archangel-gabriel-overlay: var(--color-archangel-gabriel-overlay);
  --color-archangel-haniel-base: var(--color-archangel-haniel-base);
  --color-archangel-haniel-overlay: var(--color-archangel-haniel-overlay);
  --color-archangel-jeremiel-base: var(--color-archangel-jeremiel-base);
  --color-archangel-jeremiel-overlay: var(--color-archangel-jeremiel-overlay);
  --color-archangel-jophiel-base: var(--color-archangel-jophiel-base);
  --color-archangel-jophiel-overlay: var(--color-archangel-jophiel-overlay);
  --color-archangel-metatron-base: var(--color-archangel-metatron-base);
  --color-archangel-metatron-overlay: var(--color-archangel-metatron-overlay);
  --color-archangel-michael-base: var(--color-archangel-michael-base);
  --color-archangel-michael-overlay: var(--color-archangel-michael-overlay);
  --color-archangel-raphael-base: var(--color-archangel-raphael-base);
  --color-archangel-raphael-overlay: var(--color-archangel-raphael-overlay);
  --color-archangel-raquel-base: var(--color-archangel-raquel-base);
  --color-archangel-raquel-overlay: var(--color-archangel-raquel-overlay);
  --color-archangel-raziel-base: var(--color-archangel-raziel-base);
  --color-archangel-raziel-ring-one: var(--color-archangel-raziel-ring-one);
  --color-archangel-raziel-ring-two: var(--color-archangel-raziel-ring-two);
  --color-archangel-raziel-ring-three: var(--color-archangel-raziel-ring-three);
  --color-archangel-raziel-ring-four: var(--color-archangel-raziel-ring-four);
  --color-archangel-raziel-ring-five: var(--color-archangel-raziel-ring-five);
  --color-archangel-raziel-ring-six: var(--color-archangel-raziel-ring-six);
  --color-archangel-raziel-ring-seven: var(--color-archangel-raziel-ring-seven);
  --color-archangel-raziel-ring-eight: var(--color-archangel-raziel-ring-eight);
  --color-archangel-raziel-overlay: var(--color-archangel-raziel-overlay);
  --color-archangel-sandolphon-base: var(--color-archangel-sandolphon-base);
  --color-archangel-sandolphon-overlay: var(--color-archangel-sandolphon-overlay);
  --color-archangel-uriel-base: var(--color-archangel-uriel-base);
  --color-archangel-uriel-overlay: var(--color-archangel-uriel-overlay);
  --color-archangel-zadkiel-base: var(--color-archangel-zadkiel-base);
  --color-archangel-zadkiel-overlay: var(--color-archangel-zadkiel-overlay);

}

@layer base {

  html,
  body {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  body {
    background-color: #0a0502;
    color: white;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: none;
    @apply bg-background text-foreground;
  }
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply font-sans;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Inter Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}